{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <div class="tipus">
    <h3 class="title_col">Criticitat Baixa</h3>
    {% for element in sc_baixa %}
      <span class="item" onclick='getSeguiment()'  data-id="{{element.id}}">
        <p>{{ element.nomServei }}</p>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{element.id}}">actius</button>
        <button type="button" class="btn btn-warning"  class=".btnTest" value="{{element.id}}">test</button>
        <ul class="collapse" id="{{element.id}}">
          {% for child in element.actiu_set.all %}
            <li class="childs" data-id={{child.id}}> {{child.nomActiu}}
               {%if child.estat == "Operatiu" %}
                <span class="glyphicon glyphicon-ok" data-error=False />
                {% elif child.estat == "Inoperatiu" %}
                <span class="glyphicon glyphicon-remove" data-error=True />
               {% endif %}
             </li>
          {% endfor%}
        </ul>
      </span>
    {% endfor %}
  </div>
  <div class="tipus">
    <h3 class="title_col">Criticitat Mitjana</h3>
    {% for element in sc_mitjana %}
      <span class="item" data-id="{{element.id}}">
        <p>{{ element.nomServei }}</p>
        <button type="button" onclick='getSeguiment()' class="btn btn-info" data-toggle="collapse" data-target="#{{element.id}}">actius</button>
        <button type="button" class="btn btn-warning" class=".btnTest" value="{{element.id}}">test</button>
        <ul id="{{element.id}}" class="collapse">
          {% for child in element.actiu_set.all %}
            <li class="childs" data-id={{child.id}}> {{child.nomActiu}}
              {%if child.estat == "Operatiu" %}
                <span class="glyphicon glyphicon-ok" data-error=False />
              {% elif child.estat == "Inoperatiu" %}
                <span class="glyphicon glyphicon-remove" data-error=True />
              {% endif %}
            </li>
          {% endfor%}
        </ul>
      </span>
    {% endfor %}
  </div>
  <div class="tipus">
    <h3 class="title_col">Criticitat Alta</h3>
    {% for element in sc_alta %}
      <span class="item" data-id="{{element.id}}">
        <p>{{ element.nomServei }}</p>
        <button type="button" onclick='getSeguiment()' class="btn btn-info" data-toggle="collapse" data-target="#{{element.id}}">actius</button>
        <button type="button" class="btn btn-warning" class=".btnTest" value="{{element.id}}">test</button>
        <ul  id="{{element.id}}" class="collapse">
          {% for child in element.actiu_set.all %}
            <li class="childs" data-id={{child.id}} class="collapse"> {{child.nomActiu}}
              {%if child.estat == "Operatiu" %}
                <span class="glyphicon glyphicon-ok" data-error=False />
              {% elif child.estat == "Inoperatiu" %}
                <span class="glyphicon glyphicon-remove" data-error=True />
              {% endif %}
            </li>
          {% endfor%}
        </ul>
      </span>
    {% endfor %}
  </div>
<div id="seguiment"></div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/test.js' %}"></script>
  <script src="{% static 'js/getSeguiments.js' %}"></script>

{% endblock %}
