{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <div class="tipus">
    <h3 class="title_col">Criticitat Baixa</h3>
    {% for element in sc_baixa %}
      <span class="item" data-id="{{element.id}}">
        <p onclick='getSeguiment({{element.id}})'>{{ element.nomServei }}</p>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{element.id}}">actius</button>
        <button type="button" class="btn btn-warning"  class=".btnTest" onclick="clieckTest({{element.id}})" value="{{element.id}}">test</button>
        <span class="loading"><img src="{% static 'images/ajax-loader.gif' %}" width="50px" height="50px" /></span>
        <ul class="collapse" id="{{element.id}}">
          {% for child in element.actiu_set.all %}
            <li class="childs" data-id={{child.id}}> {{child.nomActiu}}
              {% if child.url %}
                <a href="{{child.url}}">
              {% endif %}
              {%if child.estat == "Operatiu" %}
                <span class="glyphicon glyphicon-ok" data-error=False />
              {% elif child.estat == "Inoperatiu" %}
                <span class="glyphicon glyphicon-remove" data-error=True />
              {% endif %}
              {% if child.url %}
                </a>
              {% endif %}
            </li>
          {% endfor%}
        </ul>
      </span>
    {% endfor %}
  </div>
  <div class="tipus">
    <h3 class="title_col">Criticitat Mitjana</h3>
    {% for element in sc_mitjana %}
      <span class="item" data-id="{{element.id}}">
        <p onclick='getSeguiment({{element.id}})'>{{ element.nomServei }}</p>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{element.id}}">actius</button>
        <button type="button" class="btn btn-warning" class=".btnTest" onclick="clieckTest({{element.id}})" value="{{element.id}}">test</button>
        <span class="loading"><img src="{% static 'images/ajax-loader.gif' %}"  width="50px" height="50px" /></span>
        <ul id="{{element.id}}" class="collapse">
          {% for child in element.actiu_set.all %}
            {% if child.url %}
              <a href="{{child.url}}">
            {% endif %}
            <li class="childs" data-id={{child.id}}> {{child.nomActiu}}

              {%if child.estat == "Operatiu" %}
                <span class="glyphicon glyphicon-ok" data-error=False />
              {% elif child.estat == "Inoperatiu" %}
                <span class="glyphicon glyphicon-remove" data-error=True />
              {% endif %}
            </li>
            {% if child.url %}
              </a>
            {% endif %}
          {% endfor%}
        </ul>
      </span>
    {% endfor %}
  </div>
  <div class="tipus">
    <h3 class="title_col">Criticitat Alta</h3>
    {% for element in sc_alta %}
      <span class="item" data-id="{{element.id}}">
        <p onclick='getSeguiment({{element.id}})'>{{ element.nomServei }}</p>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{element.id}}">actius</button>
        <button type="button" class="btn btn-warning" onclick="clieckTest({{element.id}})" class=".btnTest" value="{{element.id}}">test</button>
        <span class="loading"><img src="{% static 'images/ajax-loader.gif' %}"  width="50px" height="50px" /></span>
        <ul  id="{{element.id}}" class="collapse">
          {% for child in element.actiu_set.all %}
            {% if child.url %}
              <a href="{{child.url}}">
            {% endif %}
            <li class="childs" data-id={{child.id}} class="collapse"> {{child.nomActiu}}
              {%if child.estat == "Operatiu" %}
                <span class="glyphicon glyphicon-ok" data-error=False />
              {% elif child.estat == "Inoperatiu" %}
                <span class="glyphicon glyphicon-remove" data-error=True />
              {% endif %}
            </li>
            {% if child.url %}
              </a>
            {% endif %}
          {% endfor%}
        </ul>
      </span>
    {% endfor %}
  </div>
<div id="seguiment"></div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/test.js' %}"></script>
  <script src="{% static 'js/getSeguiments.js' %}"></script>

{% endblock %}
